$fa-font-path: "./font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

$thin-border: 1px solid black;

* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}

.node text {
  font: 9px helvetica;
}

.title text {
  cursor: default;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size:  16px;
  paint-order: stroke;
  stroke: white;
  stroke-width: 5px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

#toggle {
  position: absolute;
  top: 20px;
  left: 960px;
}

.group-title, div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}

@keyframes open {
  0% {
    opacity: 0;
    height: 0;
    display: none;
  }

  1% {
    opacity: 0;
    height: auto;
    display: block;
  }

  100% {
    opacity: 1;
  }
}

#info {
  $info-width: 300px;

  position: absolute;
  top: 20px;

  left: -$info-width;
  width: $info-width;

  transition: left 0.3s ease-out;
  z-index: 1;
  background: white;
  border: $thin-border;

  &.info-visible {
    left: -1px;
  }

  .header {
    position: relative;
    width: 100%;

    .name {
      line-height: 1.3em;
      font-size: 1.2em;
      padding: 8px;
      word-wrap: break-word;
      width: 100%;
    }

    .close {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
      font-weight: bold;
      color: red;
    }
  }

  ul {
    overflow: visible;
    white-space: nowrap;
  }

  .members {
    border-top: $thin-border;
    height: 200px;
    width: auto;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: nowrap;

    .genres, .tracks {
      cursor: pointer;

      &.expand i {
        @extend .fa;
        @extend .fa-chevron-down;
      }
    }

    .fa-chevron-right {
      margin-right: 8px;
    }

    > div, li {
      line-height: 1.5em;
      border: none;
    }
  }

  .track-list, .genre-list {
    height: 0;
    opacity: 0;
    display: none;

    &.expand {
      display: block;
      height: auto;
      opacity: 1;
      animation: open 0.3s ease-in;
    }

    i {
      cursor: pointer;
    }
    li {
      margin-left: 15px;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  overflow: auto;
}

li {
  list-style: none;
  padding-left: 10px;
  border-bottom: $thin-border;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  .modal {
    margin: 50px auto 0 auto;
    width: 300px;
    height: 300px;
    background: white;
    color: black;

    h3 {
      height: 30px;
      margin: 0;
    }

    ul {
      height: calc(100% - 30px);
      border-top: 1px solid black;
    }

    li {
      cursor: pointer;
    }

    .spinner {
      margin-top: 30%;
      text-align: center;
    }
  }
}
