$fa-font-path: "./font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

$thin-border: 1px solid black;

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow: hidden;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}

.node text {
  font: 9px helvetica;
}

.title text {
  cursor: default;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size:  16px;
  paint-order: stroke;
  stroke: white;
  stroke-width: 5px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

.graph-actions {
  position: absolute;
  top: 20px;
  right: 20px;

  button {
    display: block;
    margin: 5px 0;
    width: 140px;

    &.hide {
      display: none;
    }
  }
}

#create-playlist-btn, #build-playlist-btn {
  margin-top: 2em;
}

.hide {
  display: none;
}

.group-title, div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px 4px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  z-index: 12;
}

#loading {
    margin: 300px auto 0 auto;
    width: 300px;
    font-size: 3em;
    text-align: center;
}

@keyframes open {
  0% {
    opacity: 0;
    height: 0;
    display: none;
  }

  1% {
    opacity: 0;
    height: auto;
    display: block;
  }

  100% {
    opacity: 1;
  }
}

#info {
  $info-width: 300px;

  position: absolute;
  top: 20px;

  left: -$info-width;
  width: $info-width;

  transition: left 0.3s ease-out;
  z-index: 1;
  background: white;
  border: $thin-border;

  &.info-visible {
    left: -1px;
  }

  .header {
    position: relative;
    width: 100%;

    .name {
      line-height: 1.3em;
      font-size: 1.2em;
      padding: 8px;
      word-wrap: break-word;
      width: 100%;
    }

    .close {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
      font-weight: bold;
      color: red;
    }
  }

  ul {
    overflow: visible;
    white-space: nowrap;
  }

  .members {
    border-top: $thin-border;
    height: 200px;
    width: auto;
    overflow: auto;
    padding: 10px;
    word-wrap: nowrap;

    .genres, .tracks {
      cursor: pointer;

      &.expand i {
        @extend .fa;
        @extend .fa-chevron-down;
      }
    }

    .fa-chevron-right {
      margin-right: 8px;
    }

    > div, li {
      line-height: 1.5em;
      border: none;
    }
  }

  .track-list, .genre-list {
    height: 0;
    opacity: 0;
    display: none;

    &.expand {
      display: block;
      height: auto;
      opacity: 1;
      animation: open 0.3s ease-in;
    }

    i {
      cursor: pointer;
    }
    li {
      margin-left: 15px;
      padding: 0 10px;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  overflow: auto;
}

li {
  list-style: none;
  padding-left: 10px;
  border-bottom: $thin-border;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  .modal {
    margin: 50px auto 0 auto;
    width: 300px;
    height: 300px;
    background: white;
    color: black;

    $header-height: 35px;

    h3 {
      height: $header-height;
      margin: 0;
      padding-top: 5px;
      text-align: center;
    }

    ul {
      height: calc(100% - #{$header-height});
      border-top: 1px solid black;
    }

    li {
      cursor: pointer;
      padding: 5px 10px;

      &:hover {
        background: rgba(176, 196, 222, 0.5);
      }
    }

    .spinner {
      margin-top: 30%;
      text-align: center;
    }
  }
}

.create-playlist {
  padding: 10px;
  height: 100%;

  form {
    height: calc(100% - 30px);
    position: relative;

    div {
      margin: 1em 0;
    }

    .actions {
      position: absolute;
      bottom: 0;
    }
  }

  input[type="text"] {
    display: block;
    width: 100%;
  }
}

#toast {
  position: absolute;
  bottom: 3em;
  left: 3em;
  padding: 1em;
  width: 200px;
  z-index: 11;

  border-radius: 5px;

  background: lightgreen;
  color: darkgreen;
  border: 2px solid darkgreen;

  opacity: 1;
  display: block;

  &.error {
    background: lightpink;
    color: red;
    border: 2px solid red;
  }

  &.hide {
    opacity: 0;
  }

  transition: opacity 0.2s ease-in-out;
}

.btn, [type="button"], [type="submit"], button {
  box-shadow: inset 0 1px 0 0 #fff;
  background: linear-gradient(to bottom, #fff 5%, #f6f6f6 100%);
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  font-weight: bold;

  &:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #fff 100%);
    background-color:#f6f6f6;
  }
  &:active {
    position:relative;
    top:1px;
  }
}

#graph-wrapper {
  text-align: center;
}
